body {
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    top: -100px;
    transition: top 0.5s ease-out;
    z-index: 999;
}

.moved-header {
    position: absolute;
    top: 0px;
}


#nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    color: white;

}

#container-main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;

}

input {
    
    padding: 5px 50px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
}

input:focus {
    border: 2px solid red;
}



#button-submit-login {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

#wrapper-input-username {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}   

#wrapper-input-password {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

#wrapper-input-password svg {
    position: absolute;
    margin-left: 12px;
}

#wrapper-input-username svg {
    position: absolute;
    margin-left: 12px;
}


#wrapper-title-back {
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 150px;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items : center;
    color: white;
    font-family: "Doto";
    font-size: 20px;
}

#spacer-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
    width: 250px;
    height: 10px;
    color: white;
}

#wrapper-button-register {
    display: flex;
    position: absolute;
    margin-top: 350px;
    width: 250px;
    height: auto;
}

#button-register {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

#container-form-register {
    display: flex;
    padding: 0;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
    position: absolute;
    width: 500px;
    height: 500px;
}

#container-main-register {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#container-title-register {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 40px;
    font-family: "Doto";
    font-size: 30px;
    color: white;
}

#wrapper-input-data {
    display: flex;
    padding-top: 40px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 80%;
}

#wrapper-input-name {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    
}

#wrapper-input-name svg {
    position: absolute;
    margin-left: 13px;
}

#wrapper-input-document {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

#wrapper-input-document svg{
    position: absolute;
    margin-left: 15px;
    
}


#wrapper-input-phone {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

#wrapper-input-phone svg{
    position: absolute;
    margin-left: 15px;
    
}

#wrapper-input-email {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

#wrapper-input-email svg{
    position: absolute;
    margin-left: 15px;
    
}

#wrapper-input-username {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

#wrapper-input-username svg{
    position: absolute;
    margin-left: 15px;
    
}

#wrapper-input-password {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

#wrapper-input-password svg{
    position: absolute;
    margin-left: 15px;
    
}

#wrapper-button-create-acc {
    display: flex;
    position: absolute;

    justify-content: center;
    align-content: center;
    top: 420px;
    
}

#button-register {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    background-color: white;
    color: black;
}

#canvas {
    display: flex;
    position: absolute;
    width: 700px;
    height: 700px;
    justify-content: center;
    align-items: center;
}