---

const pageTitle = "Log In";

import BaseLayout from "../../public/layouts/BaseLayout.astro";
import LoginForm from "../components/LoginForm.astro";
import Particles from "../components/Particles.astro";

---
<link rel="stylesheet" href="src/styles/global.css">

<title>{pageTitle}</title>

<BaseLayout />

<div id="container-main-login">
    <Particles />
    <div id="wrapper-title-back">
        <h1>Welcome Back!</h1>
    </div>
    <div id="container-form">
        <LoginForm />
        <div id="spacer-login">- Or -</div>
        <div id="wrapper-button-register">
            <button id="button-register">Create an account</button>
        </div>
    </div>
    <div id="wrapper-notification">
        <div id="event-notification">
        </div>
    </div>

</div>

<script>
    // Agregar evento en el boton de crear cuenta paras redirigir al register page 
    const redirectRegister = document.getElementById('button-register').addEventListener('click', () =>  {
        window.location.href = '/register';
    })

</script>