---

const pageTitle = "Log In";

import BaseLayout from "../../public/layouts/BaseLayout.astro";

---
<link rel="stylesheet" href="src/styles/global.css">

<title>{pageTitle}</title>

<BaseLayout />

<div id="container-main-login">
    <div id="left-container">
        <div id="container-form-login"></div>
    </div>
    <div id="right-container">
        <img src="/assets/imagenes/super.avif">
    </div>
</div>