---


---
<link rel="stylesheet" href="src/styles/global.css">

<header>
    <nav id="nav-main">
        Supermercado :)    
    </nav>   
</header>


<script>


    document.addEventListener("DOMContentLoaded", () => {

        const header = document.querySelector("header");

        setTimeout(() => {
        header.classList.add('moved-header');
    }, 1000)

    })

    
        

</script>